<h1>Confirmation de votre adresse e-mail</h1>

<p>
Pour activer votre compte, merci de confirmer votre adresse e-mail en cliquant sur le lien<br>
<a href="{{ absolute_url(path('app_verify_account', {'id': userID, 'token': registrationToken } ))}} ">
Confirmer votre e-mail
</a>
<br>
Ce lien expire le {{ tokenLifeTime  }}

</p>
<img src="{{ email.image('@images/footer.png')}} " alt="footer email" >
